<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.example.echo</string>
	<key>MachServices</key>
	<dict>
		<key>com.example.echo</key>
		<true/>
	</dict>
	<key>Program</key>
        <string>/Library/PrivilegedHelperTools/com.example.echo</string>
        <key>StandardOutPath</key>
        <string>/var/log/com.example.echo.log</string>
</dict>
</plist>
